{% extends "hydrosar_viewer/base.html" %}
{% load tethys_gizmos staticfiles%}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Upload GIS Data">
    <a data-toggle="modal" data-target="#geometry-modal"><span class="glyphicon glyphicon-cloud-upload"></span></a>
  </div>
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Download Datasets">
    <a data-toggle="modal" data-target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <div id="map"></div>
{% endblock %}

{% block app_navigation_items %}
  <li class="title">HydroSAR Data Controls</li>
    {% gizmo select_input variables %}
    {% gizmo select_input events %}
    {% gizmo range_slider opacity %}
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="geometry-modal" tabindex="-1" role="dialog" aria-labelledby="shp-modal-label">
    <div class="modal-dialog" role="document">
      <form action="" method="post" enctype="multipart/form-data">.
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">X</span></button>
            <h2 class="modal-title" id="about-modal-onamet-label">Upload GIS Data</h2>
          </div>
          <div class="modal-body">
            <h2>Upload a Shapefile</h2>
            <div>
              Guidelines for using a custom shapefile:
              <ul>
                <li>Your shapefile must contain only polygon data.</li>
                <li>You must include the 4 files ending in the extensions "prj" "shp", "shx", and "dbf".</li>
                <li>Your shapefile must use the WGS1984 Geographic Coordinate System or another GCS.</li>
                <li>The EO data are 1/4 degree spatial resolution. If your polygons are too small, you will get an
                  answer of zero.
                </li>
                <li>The more polygons in the shapefile, the longer it will take to generate a timeseries.</li>
              </ul>
            </div>
            <br>
            <div class="form-group" style="text-align: center">
              <input type="file" class="local-file-upload" id="shapefile-upload" accept=".shp,.prj,.shx,.dbf" multiple>
            </div>
            <div>Once you've selected the shapefile components, click submit to upload it.</div>
            <button type="button" class="btn btn-success" id="uploadshp">Submit Shapefile</button>

            <h2>Upload a GeoJSON</h2>
            Guidelines for using a geojson:
              <ul>
                <li>Your geojson must contain only polygon data.</li>
                <li>It should be a text geojson file ending in ".geojson" or ".json"</li>
                <li>Your geojson must use the WGS1984 Geographic Coordinate System or another GCS.</li>
                <li>If the geojson file is large (more than a few MB) the data may not show on your map. It will still upload.</li>
              </ul>
            <div class="form-group" style="text-align: center">
              <input type="file" class="local-file-upload" id="geojson-upload" accept="application/geo+json,.geojson,.json,application/json">
            </div>
            <div>Once you've selected the geojson file, click submit to upload it.</div>
            <button type="button" class="btn btn-success" id="uploadgj">Submit GeoJSON</button>

            <div id="loading" style="display: none; text-align: center"><img src="https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif"></div>
        </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </form>
    </div>
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}

{% endblock %}

